*{
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root{
    --body:crimson;
    --bg:beige;
}
body {
    background-color: var(--body);
}

nav{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid black; */
    height: 40px;
    font-size: 30px;
    box-shadow: 2px 2px 10px;
    background-color: var(--bg);
}
.keys{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/* .box{
    display: grid;
    grid-template-columns: 350px;
    margin-top: 85px;
    margin-bottom: 25px;
    border: 2px solid black;
    height: 55px;
    width: 350px;
    display: flex;
    border-radius: 15px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.412);
    background-color: var(--bg);
} */
 input{
    margin-top: 85px;
    margin-bottom: 25px;
    border: none;
    height: 55px;
    width: 350px;
    /* display: flex; */
    
    border-radius: 15px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.412);
    background-color: var(--bg);
}
.nums{
    display: grid;
    grid-template-columns: 90px 90px 90px 90px;
    grid-template-rows: 90px 90px 90px 90px 90px;
}
.nums li{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
    height: 80px;
    width: 80px;
    border-radius: 15px;
    font-size: 20px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.412);
    background-color: var(--bg);
}
li:hover{
    cursor: pointer;
}
li:active{
    transform: scale(0.97);
}
.foot{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
}
footer{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid black; */
    height: 20px;
    width: 100%;
    font-size: 15px;
    box-shadow: 2px -2px 10px;
    background-color: var(--bg);
}